<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
<form action="/signup" method="post">
    <h1>회원가입</h1>
    <hr/>
    <div th:if="${error}" class="alert error">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${success}" class="alert success">
        <p th:text="${success}"></p>
    </div>

    <label for="email">Email</label>
    <input type="email" id="email" name="username" placeholder="Email" required/>

    <label for="password">Password</label>
    <input type="password" id="password" name="password" placeholder="Password" required/>

    <label for="passwordCheck">Confirm Password</label>
    <input type="password" id="passwordCheck" name="passwordCheck" placeholder="Confirm Password" required/>

    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="name" required/>

    <label for="usernick">User Nickname</label>
    <input type="text" id="usernick" name="usernick" placeholder="User Nickname" required/>

    <label for="birthdate">Birthdate</label>
    <input type="date" id="birthdate" name="birthdate" placeholder="Birthdate" required/>

    <label for="phoneNumber">phoneNumber</label>
    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="'-'을 제외하고 입력해주세요.'" required/>

    <label for="gender">Gender</label>
    <select id="gender" name="gender" required>
        <option value="남자">남자</option>
        <option value="여자">여자</option>
    </select>

    <button type="submit">회원가입</button>
</form>
</body>
</html>