<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/signup.css">
</head>
<body>
<form id="signup-form" action="/signup" method="post">
    <h1>회원가입</h1>
    <hr/>

    <div th:if="${error}" class="error-message">
        <p th:text="${error}"></p>
    </div>

    <label for="email">이메일</label>
    <input type="email" id="email" name="username" placeholder="이메일 입력" required/>
    <button type="button" id="check-email-button" class="light-button">중복확인</button>
    <span id="emailCheckMessage" class="error"></span>

    <button type="button" id="send-code-button" class="light-button" style="display: none;">인증 코드 발송</button>

    <div id="verifyCodeSection">
        <label for="verificationCode">인증 코드</label>
        <input type="text" id="verificationCode" name="verificationCode" placeholder="인증번호 입력" required/>
        <button type="button" id="verify-code-button" class="light-button">이메일 인증</button>
        <span id="verificationMessage" class="error"></span>
    </div>

    <label for="password">비밀번호</label>
    <input type="password" id="password" name="password" placeholder="비밀번호 입력" autocomplete="new-password" required/>

    <input type="password" id="passwordCheck" name="passwordCheck" placeholder="비밀번호 확인" autocomplete="new-password" required/>
    <span id="passwordMessage" class="error"></span>

    <label for="name">사용자 이름</label>
    <input type="text" id="name" name="name" placeholder="ex) 홍길동" required/>

    <div class="form-group">
        <label for="usernick">닉네임</label>
        <input type="text" id="usernick" name="usernick" placeholder="ex) 크크크크" required/>
        <div class="button-group">
            <button type="button" id="check-usernick-button" class="light-button">닉네임 중복 확인</button>
            <button type="button" id="generate-nickname-button" class="light-button">자동 닉네임 생성</button>
        </div>
        <span id="usernickCheckMessage" class="error"></span>
    </div>

    <label for="phoneNumber">연락처</label>
    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="'-'을 제외하고 입력해주세요.'" required/>

    <label for="birthdate">생년월일</label>
    <input type="date" id="birthdate" name="birthdate" placeholder="생년월일" required/>

    <label for="gender">성별</label>
    <select id="gender" name="gender" required>
        <option value="남성">남성</option>
        <option value="여성">여성</option>
    </select>

    <button type="submit" id="signup-button" disabled>회원가입</button>
</form>
<script src="/js/signup.js"></script>
</body>
</html>