<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 정보 수정</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/mypage-Edit.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>

<div class="container">
    <div th:replace="fragments/header :: headerFragment"></div>

    <div class="main-content">
        <div class="profile-container">
            <div class="profile-pic">
                <img th:src="@{${user.filepath != null ? user.filepath : '/files/user.png'}}" alt="프로필 사진">
            </div>
        </div>
        <div class="form-container">
            <form th:action="@{/my/profile}" th:object="${user}" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="profileImage">프로필 사진</label>
                    <input type="file" id="profileImage" name="profileImage" />
                </div>
                <div class="form-group">
                    <label for="name">이름</label>
                    <input type="text" id="name" name="name" th:field="*{name}" readonly/>
                </div>
                <div class="form-group">
                    <label for="usernick">닉네임</label>
                    <input type="text" id="usernick" name="usernick" placeholder="ex) 크크크크" th:field="*{usernick}"/>
                    <div class="button-group">
                        <button type="button" id="check-usernick-button" class="light-button">닉네임 중복 확인</button>
                        <button type="button" id="generate-nickname-button" class="light-button">자동 닉네임 생성</button>
                    </div>
                    <span id="usernickCheckMessage" class="error"></span>
                </div>
                <div class="form-group">
                    <label for="phoneNumber">연락처</label>
                    <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="'-'을 제외하고 입력해주세요.'" th:field="*{phoneNumber}" />
                </div>
                <div class="button-group">
                    <a href="/my" class="link-button light-button">돌아가기</a>
                    <button type="submit" id="submit-button" class="save-button">저장</button>
                </div>
                <input type="hidden" id="userId" th:value="${user.id}"/>
                <button id="delete-account" class="text-link">회원 탈퇴</button>
            </form>
            <a href="/my/change-password" class="change-password-button">비밀번호 변경</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#delete-account').on('click', function(e) {
            e.preventDefault();
            if (confirm("정말로 탈퇴 하시겠습니까?")) {
                $.ajax({
                    type: 'DELETE',
                    url: '/api/users/' + $('#userId').val(),
                    success: function(response) {
                        alert('성공적으로 회원 탈퇴 되었습니다.');
                        window.location.href = '/';
                    },
                    error: function(error) {
                        alert('회원 탈퇴에 실패했습니다.');
                    }
                });
            }
        });
    });
</script>
<script src="/js/myedit.js"></script>
</body>
</html>
