<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"></head>
<head>
    <meta charset="UTF-8">
    <title>추가 정보 기입</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/oauth2-page.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>

<div class="container">
    <div th:replace="fragments/header :: headerFragment"></div>
    <h1>추가 정보 기입</h1>
    <form th:action="@{/oauthPage}" th:object="${user}" method="post">

        <label for="phoneNumber">연락처</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="'-'을 제외하고 입력해주세요.'" required/>

        <label for="birthdate">생년월일</label>
        <input type="date" id="birthdate" name="birthdate" placeholder="생년월일" required/>

        <label for="gender">성별</label>
        <select id="gender" name="gender" required>
            <option value="남성">남성</option>
            <option value="여성">여성</option>
        </select>

        <button type="submit" id="submit-button" class="save-button">저장</button>

        <a href="/my" class="link-button light-button">돌아가기</a>
    </form>
</div>
<script src="/js/oauth2-page-add.js"></script>
</body>
</html>



