body {
    display: flex;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}
form {
    width: 35%;
    padding: 20px;
    background-color: #fff;
    border-right: 1px solid #ddd;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}
input[type="text"]::placeholder {
    color: #aaa;
}
.region-container {
    position: relative;
    margin-bottom: 10px;
}
.cityListContainer {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 100%;
}
.region-list, .city-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.region-list li, .city-list li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
}
.region-list li {
    background-color: #e0e0e0;
    color: #333;
}
.city-list li {
    background-color: #fff;
    color: #007bff;
}
.region-list li:hover, .city-list li:hover {
    background-color: #ddd;
}
.selected {
    font-weight: bold;
    color: blue;
}
.tripDate {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
.locations {
    margin-bottom: 10px;
}
button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button[type="submit"]:hover {
    background-color: #0056b3;
}
#map {
    width: 65%;
    height: 100vh;
}
.dayHeader {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background-color: #fff;
}
.dayContent {
    display: none;
    padding: 10px;
    border-top: 1px solid #ccc;
}
.dayContent.show {
    display: block;
}
