body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    color: #444;
    font-size: 16px;
}

input, select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

input:focus, select:focus {
    border-color: #333;
    outline: none;
    box-shadow: 0 0 0 2px rgba(51, 51, 51, 0.2);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #8fc6ff;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 15px;
}

button:hover {
    background-color: #6aabf4;
    transform: scale(1.05);
}

.error {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}

#verifyCodeSection {
    display: none; /* 처음엔 섹션 숨김 */
    margin-top: 20px;
}

#verifyCodeSection label {
    margin-bottom: 10px;
    font-size: 16px;
}

#verifyCodeSection input {
    margin-bottom: 20px;
    font-size: 16px;
}

#verifyCodeSection button {
    margin-top: 10px;
}

.light-button {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
}

.light-button:hover {
    background-color: #e0e0e0;
}

.form-group {
    margin-bottom: 20px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}