body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar .nav-links {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
}

.navbar a:hover {
    color: #0056b3;
}

.navbar a::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #0056b3;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

.navbar .user-info {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar .login-btn, .navbar .username {
    background-color: #8fc6ff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 50px;
}

.header {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 60px; /* 헤더 높이만큼 아래로 이동 */
    border-radius: 10px;
}

.main-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 20px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus {
    border-color: #666;
    outline: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

button {
    width: 48%;
    padding: 10px;
    background-color: #8FC6FF;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #7ab3e0;
    transform: scale(1.02);
}

.light-button {
    background-color: #f0f0f0;
    color: #333;
}

.light-button:hover {
    background-color: #e0e0e0;
    transform: scale(1.02);
}

.save-button {
    background-color: #8FC6FF;
}

.link-button {
    width: 48%;
    padding: 10px;
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.link-button:hover {
    background-color: #e0e0e0;
    transform: scale(1.02);
}

.text-link {
    background: none;
    border: none;
    color: #f44336;
    text-decoration: underline;
    font-size: 12px;
    cursor: pointer;
    padding: 0;
    margin-top: 20px;
    outline: none;
    box-shadow: none;
}

.text-link:active,
.text-link:focus {
    color: #d32f2f;
    background-color: transparent;
    outline: none;
    box-shadow: none;
}

.text-link:hover {
    background-color: transparent;
    color: #d32f2f;
    transform: scale(1.02);
}

.error {
    color: red;
    font-size: 0.9em;
}

#delete-account {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    color: red;
    background: none;
    border: none;
    cursor: pointer;
}

#delete-account:hover {
    text-decoration: underline;
}
