body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus, select:focus {
    border-color: #333;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #8fc6ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    margin-bottom: 10px;
}

button:hover {
    background-color: #6aabf4;
    transform: scale(1.02);
}

.error {
    color: red;
    font-size: 0.9em;
}

#verifyCodeSection {
    display: none;
}

.light-button {
    background-color: #f0f0f0;
    color: #333;
}

.light-button:hover {
    background-color: #e0e0e0;
}
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}