html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;   /* 스크롤바 제거 */
}

body {
    font-family: Arial, sans-serif;
    /*padding: 20px;*/
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100%;
}

.form_wrap {
    width: 33%;
    /*max-height: 100%;*/
    overflow-y: auto;   /* 세로 내용 길이가 길어지면 세로 스크롤바 표시 */
    padding: 20px;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}

.map_wrap, .map_wrap * {
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    font-size: 12px;
}

.map_wrap a, .map_wrap a:hover, .map_wrap a:active {
    color: #000;
    text-decoration: none;
}

.map_wrap {
    position: relative;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    color: #555;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #f4f4f4;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #f4f4f4
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
    border-color: #8fc6ff;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #8fc6ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

button:hover {
    background-color: #89BDF5;
}

#tripDates .tripDate .dayHeader span {
    color: #555;
}

#tripDates .tripDate .dayHeader .dayCountLabel {
    color: #8fc6ff;
    font-weight: bold;
}