/**,*/
/**::before,*/
/**::after {*/
/*    box-sizing: border-box;*/
/*}*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;   /* 스크롤바 제거 */
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100%;
}

.form_wrap {
    width: 40%;
    /*max-height: 100%;*/
    overflow-y: auto;   /* 세로 내용 길이가 길어지면 세로 스크롤바 표시 */
    padding: 10px;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}

/*.map_wrap {*/
/*    width: 60%;*/
/*    position: relative;*/
/*    !*!*overflow: hidden;*!*!*/
/*    box-sizing: border-box;*/
/*}*/

.map_wrap, .map_wrap * {
    margin: 0;
    padding: 0;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    font-size: 12px;
}

.map_wrap a, .map_wrap a:hover, .map_wrap a:active {
    color: #000;
    text-decoration: none;
}

.map_wrap {
    position: relative;
    width: 100%;
    /*height: 100vh;*/
}

